.container {
  padding-block: 68px;
  background-color: rgba(255, 255, 255, 1);
}

.footer {
  max-width: 1420px;
  margin: 0 auto;
}

.footer-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-logo {
  display: flex;
  flex-direction: column;
  gap: 44px;
}

.footer-logo h5 {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #25508c;
}

.footer-info {
  display: flex;
  gap: 91px;
  align-items: center;
  justify-content: center;
}
.footer-info-item {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  height: 101px;
}

.footer-info-item h3 {
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  color: #25508c;
}

.footer-info-item span {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #25508c;
}

.line {
  width: 80px;
  height: 3px;
  background-color: #f9981b;
  margin-top: 17px;
  margin-bottom: 16px;
}
