<footer class="container">
  <div class="footer">
    <div class="footer-box">
      <div class="footer-logo">
        <img src="../../assets/images/logo1.png" alt="logo" />
        <h5>Copyright</h5>
      </div>
      <div class="footer-info">
        <div class="footer-info-item">
          <h3>სამუშაო დღეები</h3>
          <div class="line"></div>
          <span>9:00 - 17:00 სთ</span>
          <span>შაბ. 10:00 - 15:00</span>
        </div>
        <div class="footer-info-item">
          <h3>მისამართი</h3>
          <div class="line"></div>
          <span>ბაზალეთის ქ. 7</span>
          <span>ფალიაშვილის ქ. 30</span>
        </div>
        <div class="footer-info-item">
          <h3>ტელეფონი</h3>
          <div class="line"></div>
          <span>599 50 40 78</span>
          <span>032 222 11 31 </span>
        </div>
        <div class="footer-info-item">
          <h3>ელ. ფოსტა</h3>
          <div class="line"></div>
          <span>interclinicgeo@yahoo.com</span>
          <img
            src="../../assets/images/typcn_social-facebook-circular.png"
            alt="fb-logo"
          />
        </div>
      </div>
    </div>
  </div>
</footer>
