<section class="container">
  <div class="container-main">
    <div class="img-grp">
      <img src="../../assets/images/Rectangle 21.png" alt="rec" />
      <img src="../../assets/images/Rectangle 24.png" alt="rec" />
    </div>
    <div>
      <h1>ლაბორატორია</h1>
      <p class="desc">
        ჩვენი ლაბორატორია ინტერკლინიკის დაარსების დღიდან ფუნქციონირებს და
        აღჭურვილია უახლესი კვლევის აპარატებით. აქ ყველანაირი ლაბორატორიული
        კვლევის ჩატარებაა შესაძლებელი : კლინიკური, ბიოქიმიური, იმუნოფერმენტული,
        ციტოლოგიური და ა.შ.
      </p>
      <p class="desc2">
        ცდომილების შესამცირებლად, დამატებით ჩვენი პროფესიონალი ლაბორანტები
        მიკროსკოპის საშუალებით თვალით ახდენენ დაკვირვებას, რაც სისხლის საერთო
        ანალიზის და სხვა შემთხვევაში ყოველგვარ ცდომილებას გამორიცხავს
      </p>
      <div class="avatar-container">
        <h2>ლაბორანტები :</h2>
        <div class="avatar-img">
          <div title="ქეთევან მჭედლიშვილი">
            <img src="../../assets/images/Ellipse 15.png" alt="avatar" />
          </div>
          <div title="მარია დათეშიძე">
            <img src="../../assets/images/Ellipse 16.png" alt="avatar" />
          </div>
          <div title="თამარ კიკნაძე">
            <img src="../../assets/images/Ellipse 17.png" alt="avatar" />
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
