<section class="container">
  <div class="hero">
    <div class="input">
      <div class="input-container">
        <input type="text" placeholder="ძებნა" />
        <div class="btn-container">
          <img src="../../assets/images/Vector.png" alt="search" />
        </div>
      </div>
      <div class="arrow-container">
        <img
          src="../../assets/images/arrow-up-thin-svgrepo-com 5.png"
          alt="arrow"
        />
      </div>
    </div>
  </div>
  <div class="menu-container">
    <ul>
      <li>
        <div class="li-header">
          <div class="li-header-img">
            <img
              src="../../assets/images/fluent_doctor-16-regular.png"
              alt="image"
            />
          </div>
          <h2>ჩვენი კლინიკა</h2>
        </div>
        <div class="li-text">
          <p>ინტერკლინიკა დაარსდა 2003 წლის 3 სექტემბერს <span> ქ...</span></p>
        </div>
      </li>
      <li>
        <div class="li-header">
          <div class="li-header-img">
            <img
              src="../../assets/images/mingcute_home-2-line.png"
              alt="image"
              class="color-change"
            />
          </div>
          <h2>სახლში მომსახურება</h2>
        </div>
        <div class="li-text">
          <p>ულტრაბგერითი კვლევა ეს არის ორგანოების <span>და...</span></p>
        </div>
      </li>
      <li>
        <div class="li-header">
          <div class="li-header-img">
            <img src="../../assets/images/maki_doctor.png" alt="image" />
          </div>
          <h2>ჩვენი ექიმები</h2>
        </div>
        <div class="li-text">
          <p>ინტერკლინიკ ექიმების სიის <span>ნახვა...</span></p>
        </div>
      </li>
      <li>
        <div class="li-header">
          <div class="li-header-img">
            <img src="../../assets/images/Vector(1).png" alt="image" />
          </div>
          <h2>სერვისები</h2>
        </div>
        <div class="li-text">
          <p>
            ინტერკლინიკაში შესაძლებელია ყველა საჭირო <span>სამედიცინო...</span>
          </p>
        </div>
      </li>
    </ul>
  </div>
</section>
