<section class="container">
  <div class="patient">
    <img src="../../assets/images/Rectangle 49.png" alt="s" class="img-abs" />
    <div class="patient-info">
      <img src="../../assets/images/call-svgrepo-com (3) 1.png" alt="as" />
      <div class="patient-info-text">
        <h2>პაციენტის მიღების წესები</h2>
        <p>
          ინტერკლინიკის სერვისებით სარგებლობისთვის გთხოვთ დაგვიკავშირდეთ ჩვენს
          საკონტაქტო ტელეფონზე და ჩვენი კონსულტანტები დაგეხმარებიან ექიმთან
          ვიზიტის დაგეგმვაში.
        </p>
      </div>
    </div>
  </div>
</section>
