.container {
  background-color: rgba(217, 217, 217, 0.3);
  padding-bottom: 141px;
}

.partners {
  max-width: 1420px;
  margin: 0 auto;
  width: 100%;
}

h2 {
  font-size: 30px;
  font-weight: 600;
  line-height: 36px;
  letter-spacing: 0em;
  text-align: left;
  color: rgba(37, 80, 140, 1);
  margin-bottom: 31px;
}

.partners-logo {
  display: flex;
  gap: 20px;
}
.partners-log-box {
  width: 340px;
  height: 154px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 1);
  border-radius: 10px;
}
