<section class="container">
  <div class="partners">
    <h2>პარტნიორები</h2>
    <div class="partners-logo">
      <div class="partners-log-box">
        <img src="../../assets/images/fb_logo 1.png" alt="irao" />
      </div>
      <div class="partners-log-box">
        <img src="../../assets/images/1200px-Tbc-logo-ka_GE 1.png" alt="irao" />
      </div>
      <div class="partners-log-box">
        <img src="../../assets/images/Ardi_NEU 1.png" alt="irao" />
      </div>
      <div class="partners-log-box">
        <img src="../../assets/images/thumb 1.png" alt="irao" />
      </div>
    </div>
  </div>
</section>
