<section class="container">
  <div class="news">
    <div class="news-header">
      <h2>სიახლეები</h2>
      <a href="#"
        >სიახლეების არქივი
        <img
          src="../../assets/images/material-symbols_arrow-downward-rounded.png"
          alt="as"
      /></a>
    </div>
    <div class="news-body">
      <div class="news-item">
        <img src="../../assets/images/Rectangle 33.png" alt="s" />
        <div class="news-item-info">
          <div class="news-item-info-date">
            <h3>11</h3>
            <span>ნოემბერი</span>
          </div>
          <div class="news-item-info-title">
            <h3>სიახლე ინტერკლინიკაში!</h3>
            <p>ნაციონალური ბიზნეს-რეიტინგების კავშირის“ მიერ, სამედიცინო...</p>
          </div>
        </div>
      </div>
      <div class="news-item">
        <img src="../../assets/images/Rectangle 34.png" alt="s" />
        <div class="news-item-info">
          <div class="news-item-info-date">
            <h3>24</h3>
            <span>ნოემბერი</span>
          </div>
          <div class="news-item-info-title">
            <h3>სიახლე ინტერკლინიკაში!</h3>
            <p>ნაციონალური ბიზნეს-რეიტინგების კავშირის“ მიერ, სამედიცინო...</p>
          </div>
        </div>
      </div>
      <div class="news-item">
        <img src="../../assets/images/Rectangle 35.png" alt="s" />
        <div class="news-item-info">
          <div class="news-item-info-date">
            <h3>11</h3>
            <span>ნოემბერი</span>
          </div>
          <div class="news-item-info-title">
            <h3>სიახლე ინტერკლინიკაში!</h3>
            <p>ნაციონალური ბიზნეს-რეიტინგების კავშირის“ მიერ, სამედიცინო...</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
