/* You can add global styles to this file, and also import other style files */
@import url("https://free.bboxtype.com/embedfonts/?family=FiraGO:100,200,300,400,500,600,700,800");
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "FiraGO", sans-serif;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}
